body {
	font-family: Arial, Helvetica, sans-serif;
}

body > .container {
	/* overriding the default bootstrap padding */
	padding: 0px;
}

.navbar {
	/* overriding the default bootstrap padding */
	border-radius: 0;

	/* default bootstrap css */
	/*min-height: 50px;*/
	min-height: 30px;
	margin-bottom: 0px;
	border: 1px solid transparent;
}

.ef-page-title {
	text-align: center;
}

.ef-text-center {
    text-align: center;
}

.ef-logo {
  /*width: 100%;*/
  height: 100%;
}

.ef-sign-in {
  padding: 15px;
}

.ef-sign-in > li > form > input {
  margin-bottom: 10px;
}

.ef-normal-pointer {
    cursor: default;
}

.ef-inline-block {
    display: inline-block;
}

.ef-social-media-icons {
    margin: 15px 0;
    float: right;
}

.ef-icon {
    padding: 0 5px;
    cursor: pointer;
}


/***********************************/
/****  split-button in navbar ******/
.split-button:hover {
	cursor: pointer;
}

.split-button > .dropdown-toggle {
    /*
	padding-top: 15px;
	padding-bottom: 15px;
    */
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav > li > .split-button {
  position: relative;
  display: block;
  /*padding: 10px 15px;*/
}

.nav > li > .split-button > a.dropdown-toggle {
  /*padding: 15px 15px 15px 5px;*/
  padding: 5px 15px 5px 5px;
}
.nav > li > .split-button > a {
  /*padding: 15px 0px 15px 15px;*/
  padding: 5px 0px 5px 15px;
}
.nav > li > .split-button > a:hover,
.nav > li > .split-button > a:focus {
  text-decoration: none;
  background-color: #eee;
}

.nav > li > .split-button > a:hover,
.nav > li > .split-button > a:focus {
  text-decoration: none;
  background-color: #eee;
}

.nav > li.disabled > .split-button > a {
  color: #777;
}
.nav > li.disabled > .split-button > a:hover,
.nav > li.disabled > .split-button > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.navbar-nav > li > .split-button {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > .split-button,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
  .navbar-nav .open .dropdown-menu > li > .split-button > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > .split-button > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    /*padding-top: 15px;
    padding-bottom: 15px;
    */
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar-nav > li > .split-button {
    /*padding-top: 15px;
    padding-bottom: 15px;
    */
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.navbar-nav > li > .split-button > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .split-button > .dropdown-menu {
  margin-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.navbar-inverse .navbar-nav > li > .split-button > a {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > .split-button > a:hover,
.navbar-inverse .navbar-nav > li > .split-button > a:focus {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}
.navbar-inverse .navbar-nav > .active > .split-button > a,
.navbar-inverse .navbar-nav > .active > .split-button > a:hover,
.navbar-inverse .navbar-nav > .active > .split-button > a:focus {
  color: #fff;
  /*background-color: #080808;*/
  background-color: black;
}
.navbar-inverse .navbar-nav > .active,
.navbar-inverse .navbar-nav > .active:hover ,
.navbar-inverse .navbar-nav > .active:focus {
  color: #fff;
  /*background-color: #080808;*/
  background-color: black;
}
.navbar-inverse .navbar-nav > .disabled > .split-button > a,
.navbar-inverse .navbar-nav > .disabled > .split-button > a:hover,
.navbar-inverse .navbar-nav > .disabled > .split-button > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  /* border-color: #101010;*/
  border-color: black;
}
.navbar-inverse .navbar-nav > li > .open > a,
.navbar-inverse .navbar-nav > li > .open > a:hover,
.navbar-inverse .navbar-nav > li > .open > a:focus {
  color: #fff;
  /*background-color: #080808;*/
  background-color: black;
  text-decoration: none;
}

.navbar-inverse .navbar-nav > li > .open,
.navbar-inverse .navbar-nav > li > .open:hover,
.navbar-inverse .navbar-nav > li > .open:focus {
  color: #fff;
  /*background-color: #080808;*/
  background-color: black;
  text-decoration: none;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    /*background-color: #080808;*/
    background-color: black;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    /*background-color: #080808;*/
    background-color: black;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    /*background-color: #080808;*/
    background-color: black;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .active,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active:focus {
    color: #fff;
    /*background-color: #080808;*/
    background-color: black;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > .split-button > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > .split-button > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > .split-button > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > .split-button > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > .split-button > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > .split-button > a:focus {
    color: #fff;
    /*background-color: #080808;*/
    background-color: black;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > .split-button > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > .split-button > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > .split-button > a:focus {
    color: #444;
    background-color: transparent;
  }
}

.navbar-inverse {
    background-color: black;
    border-color: black;
}

.navbar-brand {
    padding: 5px 15px;
    height: 30px;
}


/* Multicolumns */
/*@media screen and (max-width: 991px){
  .columns {
    height: 200px;
    overflow:scroll;
  }
}
*/
@media screen and (min-width: 992px){
  .columns {
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
    column-count:2;
    width: 250px;
  }
}
