.ef-shop-image {
    width: 100%;
    cursor: pointer;
    position: relative;
}

.ef-out-of-stock-container {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 100;
    top: 10px;
    left: 20px;
}

.ef-out-of-stock-image {
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.ef-out-of-stock-image:hover {
    opacity: 1;
    cursor: pointer;
}

.ef-filter-container > ul {
    list-style: none;
    padding-left: 10px;
}

/* In case screen is too small and filter labels get cut off. */
.ef-filter-label {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* In case screen is too small and content gets cut off. */
.panel-body {
    overflow: hidden;
    text-overflow: ellipsis;
}

label {
    display:inline-block;
    max-width: 100%;
    margin-bottom: 5px;

    /* overriding original bootstrap css. don't want it to be bolded. */
    font-weight: normal;
}

.ef-filter-name {
    font-weight: bold;
    color: grey;
}

.ef-section-name {
    font-weight: bold;
    color: grey;
}

/* Collapsible filters */
.ef-filter-name:after {
    font-family:'Glyphicons Halflings';
    /* Down arrow */
    /*content:"\e114";*/ 

    /* Minus sign */
    content: "\2212"; 
    float: right;
    color: grey;
}

.ef-filter-name.collapsed:after {
    /* Up arrow */
    /*content:"\e080";*/

    /* Plus sign */
    content: "\002b"; 
}

.ef-buffer-span {
    padding: 0px 5px;
}

.ef-padding {
    padding: 15px;
}

.ef-controls {
    display: inline-block;
}

.ef-margin-right {
    margin-right: 30px;
}

.ef-no-min-width {
    min-width: 0px;
}

.ef-search-form {
    padding-right: 0px;
}

#price-min {
    display: inline-block;
    font-weight: bold;
    float: left;
}

#price-max {
    display: inline-block;
    font-weight:bold;
    float: right;
}
