/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 209px; /* match .footer height */
}
.footer {
  position: absolute;
  /*position: static;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 209px; /* looked it up with inspect element. */
  /*background-color: #222;*/
  /*background-color: black;*/
}

.footer-white-bg {
    background-color: white;
}

.footer-black-bg {
    background-color: black;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
