/*#style-guides-choices {
	margin-top: 30px;
}
*/
/*.style-image-container {
	padding: 1.5%;
}
*/
.ef-dress-code-thumbnail {
    cursor: pointer;
}

.ef-dress-code-image {
    border: 1px solid;
    width: 100%;
}

.ef-explanation-image {
	width:100%;
}

.ef-industry-thumbnail {
    cursor: pointer;
}

.caption {
	font-size: 160%;
}
