.look-image, .occasion-image {
    width: 100%;
    border: 1px solid;
    display: inline-block;
}

.ef-row-container {
    padding: 20px 0px;
}

.ef-vertical-center {
    display: flex;
    align-items: center;
}

.ef-shop-the-look {
    margin: 0 auto;
}

.ef-shop-button {
    margin-bottom: 20px;
}

.ef-header {
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
}

.ef-description {
    text-indent: 2em;
}

.ef-image {
    display: block;
    margin: auto;
}
.ef-style-image {
 width: 100%;   
    
}
