body {
	font-family: Arial, Helvetica, sans-serif;
}

body > .container {
	/* overriding the default bootstrap padding */
	padding: 0px;
}

.navbar {
	/* overriding the default bootstrap padding */
	border-radius: 0;

	/* default bootstrap css */
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}
