#display-name {
    text-align: center;
}

#postings-container {
    margin-top: 2em;
}

.row {
    margin-right: -15px;  /* original bootstrap css */
    margin-left: -15px;  /* original bootstrap css */
    display: flex;
    align-items: center;
}

.posting-image {
    width: 100%;
}

.posting-info-date {
    font-weight: bold;
    margin-bottom: 10px;
}

.posting-info-description {
    margin-bottom: 10px;
    overflow-y: auto;
}

.posting-info-similar-styles {
    font-weight: bold;
    margin-bottom: 10px;
}

.similar-styles-table-container {
    /* fixed scroll forces it to keep the scroll on  */
    /* minimize. otherwise, if it fits on a bigger */
    /* screen initially, it won't have a scroll on a */
    /* smaller screen. */
    overflow-x: scroll; 
    width: 100%;
}

.similar-styles-outer-container {
    padding: 10px;
    width: 100%;
    overflow-x: auto;
}

.similar-styles-inner-container {
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
    min-width: 150px;
    text-align: center;
}

.similar-styles-image {
    height: 80%;
}

.similar-styles-description {
    height: 20%;
    padding-top: 2%;
    text-align: center;
}

p {
    text-indent: 4em;
}
