#display-name {
    text-align: center;
}

#biography {
    padding-left: 10%;
    padding-right: 10%;
}

#postings-container {
    margin-left: 10%;
    margin-right: 10%;
}


#posting-table {
    /*overflow-x: auto;*/
    width: 80%;
    margin: 0 auto;
}

.posting-image-cell {
    width: 40%;
    height: 400px;
}

.posting-info-cell {
    max-width: 60%;
    height: 400px;
    position: relative;
    transform: translate(0, -30%);
}

.posting-image {
    height: 100%;
}


.posting-info-date {
    font-weight: bold;
    margin-bottom: 10px;
}

.posting-info-description {
    margin-bottom: 10px;
}

.posting-info-similar-styles {
    font-weight: bold;
    margin-bottom: 10px;
}

.similar-styles-table-container {
    overflow-x: auto;
    width: 100%;
    position: absolute;
}

.similar-styles-outer-container {
    padding: 10px;
    width: 100%;
    overflow-x: auto;
}

.similar-styles-inner-container {
    margin-left: 20px;
    margin-right: 20px;
    height: 200px;
}

.similar-styles-image {
    height: 80%;
}

.similar-styles-description {
    height: 20%;
    text-align: center;
    vertical-align: middle;
}

p {
    text-indent: 50px;
}
