#display-name {
    text-align: center;
}

#biography {
    /*padding-left: 10%;*/
    /*padding-right: 10%;*/
}

#postings-container {
    margin-top: 2em;
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
}

.row {
    margin-right: -15px; /* original bootstrap css */
    margin-left: -15px; /* original bootstrap css */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    overflow-x: auto;
}

#posting-table-container {
    width: 80%;
    margin: 0 auto;
}

.posting-image-cell {
    width: 40%;
    min-width: 5em;
}

.posting-info-cell {
    max-width: 60%;
    position: relative;
}

.posting-image {
    width: 100%;
}

.posting-info-cell-inner-container {
    width: 30em;
}

.posting-info-date {
    font-weight: bold;
    margin-bottom: 10px;
}

.posting-info-description {
    margin-bottom: 10px;
    overflow-y: auto;
}

.posting-info-similar-styles {
    font-weight: bold;
    margin-bottom: 10px;
}

.similar-styles-table-container {
    overflow-x: auto;
    width: 100%;
}

.similar-styles-outer-container {
    padding: 10px;
    width: 100%;
    overflow-x: auto;
}

.similar-styles-inner-container {
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
    min-width: 150px;
    text-align: center;
}

.similar-styles-image {
    height: 80%;
}

.similar-styles-description {
    height: 20%;
    padding-top: 2%;
    text-align: center;
}

p {
    text-indent: 4em;
}
