/*#look-occasion-table {
    width: 80%;
    margin-top: 2em;
}
*/
.look-image, .occasion-image {
    width: 100%;
    border: 1px solid;
    display: inline-block;
}
/*
.look-description, .occasion-description {
    display: inline-block;
    width: 50%;
}

.look-image-container, .occasion-image-container {
    width: 40%;
}

.look-inner-container, .occasion-inner-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

td, th {
    padding: 10px 0px 10px 0px;
    width: 50%;
}
*/
.row-container {
    padding: 20px 0px;
}

.vertical-center {
    display: flex;
    align-items: center;
}
