/*#style-guides-choices {
	margin-top: 30px;
}
*/
/*.style-image-container {
	padding: 1.5%;
}
*/

.ef-style-image {
    border: 1px solid;
    width: 100%;
    cursor: pointer;
}

.ef-industry-thumbnail {
    cursor: pointer;
}
