#coverflow-photos-container {
    position: relative;
}

#container {
    padding-top: 50px;
    padding-bottom: 50px;
}


#left-arrow {
    position: absolute;
    bottom: 50%;
    left: 0.5%;
    z-index: 2000;
    cursor: pointer;
}

#right-arrow {
    position: absolute;
    bottom: 50%;
    right: 0.5%;
    z-index: 2000;
    cursor: pointer;
}

#dots-container {
    display: table;
    margin: 0 auto;
}

.dot {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.photos .cover {
    cursor: pointer;
}

#photos-info {
    padding-top: 10px;
    /*position:     relative;*/
    text-align:     center;
    z-index:        1000;
    text-shadow:    0 0 8px white;
}

#photos-name {
    font-size: 200%;
    font-weight: bold;
}

.clearfix {
    clear: both;
}
