#outer-container {
    /*position: relative;*/
    /*overflow: auto;*/
}

#content {
    /*width: 100%;*/

    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*overflow: hidden;*/
}

#ef-b-container {
    width: 100%;
}

#ef-left-arrow {
    cursor: pointer;
}

#ef-right-arrow {
    cursor: pointer;
}

#ef-controls-outer-container {
    text-align: center;
}

#ef-controls-inner-container {
    display: inline-block;
}

#ef-dots-container {
    margin: 0 auto;
}

.ef-dot {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.photos .cover {
    cursor: pointer;
}

#ef-photos-info {
    padding-top: 10px;
    text-align:     center;
    z-index:        1000;
    text-shadow:    0 0 8px white;
}

#photos-name {
    font-size: 200%;
    font-weight: bold;
}

.clearfix {
    clear: both;
}
