<!DOCTYPE html>
<html>
  <head>
  	{% block head %} 
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div id="nav-container">
    	<ul>
    		<li><a href="home">Home</a></li>
    		<li><a href="whoworewhat">Who Wore What</a></li>
    		<li><a href="styleguides">Style Guides</a></li>
    		<li><a href="shop">Shop</a></li>
    	</ul>
    </div>

    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
