{% extends "templates/base.html" %}

{% block title %}Skirt The Ceiling Blog{% endblock %}

{% block head %}
    <!-- 
    <script src="/js/style_guides.js"></script>
    -->
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
{% endblock %}

{% block content %}

<h3 class="ef-page-title">Blog</h3>
<div class="ef-text-center">
    <a target="_blank" href="http://www.skirttheceiling.tumblr.com">skirttheceiling.tumblr.com</a>
</div>

    <hr>




    <script src="http://skirttheceiling.tumblr.com/js"></script>

{% endblock %}

