{% extends "templates/base.html" %}

{% block title %}Main Page{% endblock %}

{% block head %}
  <!-- <script src="/js/style.js"></script> -->
  <link rel="stylesheet" type="text/css" href="/css/home.css">
{% endblock %}

{% block nocontainer_content %}
<img class="ef-header-image" src="/images/home/header_3.png"></img>
{% endblock %}

{% block content %}

<div class="container">
  <br>
  <br>
  <br>
  <h3 class="ef-page-title"><b>Find your path</b></h3>

  <br>

  <div class="row">

    <div class="col-xs-4">
        <div>
            <a href="/styleguides/style?dress_code=biz%20formal">
                <img class="ef-frame-image" src="/images/home/www_noframe.png"></img>
            </a>
        </div>

      <div class="ef-image-caption">
        <b>Discover:</b> Interview Attire
      </div>
    </div>

    <div class="col-xs-4">
      <div>
        <a href="/whoworewhat">
            <img class="ef-frame-image" src="/images/home/style_guide_noframe.png"></img>
        </a>
      </div>

      <div class="ef-image-caption">
        <b>Inspiration:</b> Real women in business
      </div>
    </div>

    <div class="col-xs-4">
      <div>
        <a href="/shop">
            <img class="ef-frame-image" src="/images/home/new_category_noframe.png"></img>
        </a>
      </div>

      <div class="ef-image-caption">
        <b>Shop:</b> For your first day of work
      </div>
    </div>
  </div>

</div>


{% endblock %}
