{% extends "templates/base.html" %}

{% block title %}Main Page{% endblock %}

{% block head %}
  <!-- <script src="/js/style.js"></script> -->
  <link rel="stylesheet" type="text/css" href="/css/home.css">
{% endblock %}

{% block nocontainer_content %}
<img class="ef-header-image" src="/images/home/header_3.png"></img>
{% endblock %}

{% block content %}

<div id="subscribeModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Receive tips and the newest content from Skirt The Ceiling!</h4>
      </div>
      <div class="modal-body">
<!-- Begin MailChimp Signup Form -->
                <link href="Modal%20Popup_files/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                <div id="mc_embed_signup" style="background-color:#fff">
                    <form action="//skirttheceiling.us1.list-manage.com/subscribe/post?u=38d27aacac9d1258c0db6f3f8&amp;id=edf5fd429b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                       <div id="mc_embed_signup_scroll">
                        <input name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required="" type="email">
                       <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                       <div style="position: absolute; left: -5000px;" aria-hidden="true"><input name="b_38d27aacac9d1258c0db6f3f8_edf5fd429b" tabindex="-1" type="text"></div>
                       <div class="clear"><input value="Get Our Newsletter" name="subscribe" id="mc-embedded-subscribe" class="button" type="submit" style="background-color:#545d9e"></div>
                       </div>
                    </form>
                </div>
            <!--End mc_embed_signup-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container">
  <br>
  <br>
  <br>
  <h3 class="ef-page-title"><b>Find your path</b></h3>

  <br>

  <div class="row">

    <div class="col-xs-4">
        <div>
            <a href="/styleguides/style?dress_code=biz%20formal">
                <img class="ef-frame-image ga-box-1" src="/images/home/www_noframe.png"></img>
            </a>
        </div>

      <div class="ef-image-caption">
        <b>Discover:</b> Interview Attire
      </div>
    </div>

    <div class="col-xs-4">
      <div>
        <a href="/whoworewhat">
            <img class="ef-frame-image ga-box-2" src="/images/home/style_guide_noframe.png"></img>
        </a>
      </div>

      <div class="ef-image-caption">
        <b>Inspiration:</b> Real women in business
      </div>
    </div>

    <div class="col-xs-4">
      <div>
        <a href="/shop?&occasions=first%20day">
            <img class="ef-frame-image ga-box-3" src="/images/home/new_category_noframe.png"></img>
        </a>
      </div>

      <div class="ef-image-caption">
        <b>Shop:</b> For your first day of work
      </div>
    </div>
  </div>

</div>


{% endblock %}
