{% extends "templates/base.html" %}

{% block title %}Skirt The Ceiling - Home Page{% endblock %}

{% block meta %}
<meta name="description" content="Skirt The Ceiling helps women find the right style of business clothing for the right work occasion.">
<meta name="title" content="Skirt The Ceiling - Women's Work Fashion">
{% endblock %}

{% block head %}
  <!-- <script src="/js/style.js"></script> -->
  <script src="/js/home.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/home.css">
{% endblock %}

{% block nocontainer_content %}
<img class="ef-header-image" src="/images/home/header_3.png" alt="Skirt The Ceiling picture of woman in stylish work dress"></img>
{% endblock %}

{% block content %}

<div class="container">
  <br>
  <br>
  <br>
  <h3 class="ef-page-title">Find your confidence when you need it: Shop for the right outfit for the right occasion</h3>

  <br>

  <div class="row">

    <div class="col-xs-4">
        <div>
            <a href="/shop?&occasions=interview">
                <img class="ef-frame-image ga-box-1" src="/images/home/www_noframe.png" alt="woman dressed in business clothes for an interview"></img>
            </a>
        </div>

      <div class="ef-image-caption">
        <b>Shop the Occasion:</b> Interview
      </div>
    </div>

    <div class="col-xs-4">
      <div>
        <a href="/shop?&occasions=networking">
            <img class="ef-frame-image ga-box-2" src="/images/home/style_guide_noframe.png" alt="real women in business wearing business clothes"></img>
        </a>
      </div>

      <div class="ef-image-caption">
        <b>Shop the Occasion:</b> Networking
      </div>
    </div>

    <div class="col-xs-4">
      <div>
        <a href="/shop?&occasions=casual%20friday">
            <img class="ef-frame-image ga-box-3" src="/images/home/new_category_noframe.png" alt="shop by business or work occasion"></img>
        </a>
      </div>

      <div class="ef-image-caption">
        <b>Shop the Occasion:</b> Casual Friday
      </div>
    </div>
  </div>

</div>


{% endblock %}
