{% extends "templates/base.html" %}

{% block title %}Style Guides Industry{% endblock %}

{% block content %}
<!--
  <ol class="breadcrumb">
    <li><a href="/styleguides">Style Guides</a></li>
    <li class="active">{{industry}}</a></li>
  </ol>

  <div id="industry-select-container">
    Select Industry 
    <select name="industry-select" id="industry-select">
      {% for i in industry_names %}
        <option value={{i['id']}}>{{i['display']}}</option>
      {% endfor %}
    </select>

    <button onclick="selectIndustry()">Go</button>
</div>
-->

  <div class="container">
    <h3 class="ef-page-title">{{industry | title }}</h3>
    <hr>
  </div>

  <div class="container">
    <!-- Style name -->
    <div class="row ef-row">
      <div class="col-xs-1"></div>
      <div class="col-xs-1 ef-section-header"></div>

      {% for i in industry_data %}
        <div class="col-xs-3 text-center ef-content"><b>{{i.style | title }}</b></div>
      {% endfor %}

      <div class="col-xs-1"></div>
    </div>

    <!-- Pictures -->
    <div class="row ef-row">
      <div class="col-xs-1"></div>
      <div class="col-xs-1 ef-section-header"></div>

      {% for i in industry_data %}
        <div class="col-xs-3 text-center ef-content">
          <img class="ef-style-image" border="1" src={{i.img_src}}>
        </div>
      {% endfor %}

      <div class="col-xs-1"></div>
    </div>

    <!-- Shop the Look buttons -->
    <div class="row ef-row">
      <div class="col-xs-1"></div>
      <div class="col-xs-1 ef-section-header"></div>

      {% for i in industry_data %}
        <div class="col-xs-3 text-center ef-content">
            <button type="button" id="{{industry}}-{{i.style}}" class="btn btn-default ef-shop-button">Shop the Look</button>
        </div>
      {% endfor %}

      <div class="col-xs-1"></div>
    </div>

    <!-- Relevance -->
    <div class="row ef-row">
      <div class="col-xs-1"></div>
      <div class="col-xs-1 ef-section-header">Relevance</div>

      {% for i in industry_data %}
        <div class="col-xs-3 text-center ef-content">{{i.relevance | title }}</div>
      {% endfor %}

      <div class="col-xs-1"></div>
    </div>

    <!-- Activities -->
    <div class="row ef-row">
      <div class="col-xs-1"></div>
      <div class="col-xs-1 ef-section-header">Activities</div>

      {% for i in industry_data %}
        <div class="col-xs-3 text-center ef-content">{{i.activities | join(', ')}}</div>
      {% endfor %}

      <div class="col-xs-1"></div>
    </div>

    <!-- Attire -->
    <div class="row ef-row">
      <div class="col-xs-1"></div>
      <div class="col-xs-1 ef-section-header">Attire</div>

      {% for i in industry_data %}
        <div class="col-xs-3 text-center ef-content">{{i.attire | join(', ')}}</div>
      {% endfor %}

      <div class="col-xs-1"></div>
    </div>
  </div>

<!--   <div id="info-table-container">
    <table id="info-table">

      <tr id="name-row">
        <th id="name-category" class="row-category"></th>
        {% for i in industry_data %}
          <td id="name-content" class="row-content">{{i.style}}</td>
        {% endfor %}
      </tr>

      <tr id="image-row">
        <th id="image-category" class="row-category"></th>
        {% for i in industry_data %}
          <td id="image-content" class="row-content">
            <div class="style-image-container">
              <img class="style-image" border="1" src={{i.img_src}}>
              <button class="shop-the-look-button" onclick="shopTheLook()">Shop the Look</button>
            </div>
          </td>
        {% endfor %}
      </tr>

      <tr id="relevance-row">
        <th id="relevance-category" class="row-category">Relevance</th>
        {% for i in industry_data %}
          <td id="relevance-content" class="row-content">{{i.relevance}}</td>
        {% endfor %}
      </tr>

      <tr id="activities-row">
        <th id="activities-category" class="row-category">Activities</th>
        {% for i in industry_data %}
          <td id="activities-content" class="row-content">{{i.activities | join(', ')}}</td>
        {% endfor %}
      </tr>

      <tr id="attire-row">
        <th id = "attire-category" class="row-category">Attire</th>
        {% for i in industry_data %}
          <td id="attire-content" class="row-content">{{i.attire | join(', ')}}</td>
        {% endfor %}
      </tr>


    </table>
  </div>
 -->
{% endblock %}

{% block end_body %}
  <script src="/js/industry.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/industry.css">
{% endblock %}
