{% extends "templates/base.html" %}

{% block title %}Look{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="ef-page-title">{{look.person.name}}</h3>
        <div id="ef-biography" class="text-center">{{look.person.bio}}</div>
        <hr>
    </div>

    <div id="ef-postings-container">
        <div class="container">
            <div class="row ef-vertical-center">
                <div class="col-xs-6">
                    <img class="ef-posting-image" src="{{look.img_src}}">
                </div>
                <div class="col-xs-6">
                    <h4 class="media-heading ef-posting-info-date">Posted: 
                        {{look.date}}</h4> 
                    <div class="ef-posting-info-description">{{look.description}}</div>
                    <div class="ef-posting-info-similar-styles">Similar Styles</div>
                    <div class="ef-similar-styles-table-container">
                        <table class="ef-similar-styles-outer-container">
                            <tr>
                                {% for similar_style in similar_styles %}
                                    <td class="ef-similar-styles-inner-container">
                                            <img class="ef-similar-styles-image" src='{{similar_style.img_src}}'></img>
                                            <div class="ef-similar-styles-description">
                                                <div class="brand"><b>Brand: </b>{{similar_style.brand}}</div>
                                                <div class="price">
                                                    <b>Price: </b>
                                                    <!-- Otherwise prints out $123.0 if $123 -->
                                                    {% if (similar_style.price % 1) == 0 %}
                                                        ${{similar_style.price | int}}
                                                    {% else %}
                                                        ${{similar_style.price}}
                                                    {% endif %}

                                                </div>
                                            </div>
                                    </td>

                                {% endfor %}
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
   </div>

{% endblock %}

{% block end_body %}
    <!-- <script src="/js/person.js"></script> -->
    <link rel="stylesheet" type="text/css" href="/css/look.css">
{% endblock %}
