{% extends "templates/base.html" %}

{% block title %}Shop Page{% endblock %}

{% block head %}
  <script src="/js/shop.js"></script>
  <script type="text/javascript">
      initGlobals({{filters}}, '{{default_shop_sort}}', '{{default_items_per_page}}', '{{default_page}}', {{num_pages}});
  </script>

  <link rel="stylesheet" type="text/css" href="/css/shop.css">

  <script type="text/javascript" src="/masonry/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="/masonry/masonry.pkgd.min.js"></script>

  <!-- jquery ui for price slider -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
{% endblock %}

{% block content %}

<div id="subscribeModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">We are coming out with amazing new features and we want our loyal users to know first. Sign up to be in the know!</h4>
      </div>
      <div class="modal-body">
<!-- Begin MailChimp Signup Form -->
                <link href="Modal%20Popup_files/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                <div id="mc_embed_signup" style="background-color:#fff">
                    <form action="//skirttheceiling.us1.list-manage.com/subscribe/post?u=38d27aacac9d1258c0db6f3f8&amp;id=edf5fd429b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                       <div id="mc_embed_signup_scroll">
                        <input name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required="" type="email">
                       <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                       <div style="position: absolute; left: -5000px;" aria-hidden="true"><input name="b_38d27aacac9d1258c0db6f3f8_edf5fd429b" tabindex="-1" type="text"></div>
                       <div class="clear"><input value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button" type="submit" style="background-color:#545d9e"></div>
                       </div>
                    </form>
                </div>
            <!--End mc_embed_signup-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container">
  <h3 class="ef-page-title">Shop</h3>
  <hr>
</div>

<div class="container">
  <div class="row">
    <!-- Filters -->
    <div class="col-sm-3 col-xs-12">

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h4 class="panel-title" id="ef-panel-title" data-toggle="collapse" 
                data-target="#ef-panel-content">Filters</h4>

        </div>
        <div id="ef-panel-content" class="collapse in"> <!-- includes search and list group -->
        <div class="panel-body">
          <h5 class="ef-section-name">Search</h5>
          <form class="" role="search">
            <div class="row">
              <div class="col-xs-8 ef-search-form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </div>
              <div class="col-xs-4">
                <button type="submit" class="btn btn-default">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </div>
            </div>
            
            
          </form>
        </div>

        <!-- List group -->
        <ul class="list-group">
          {% for filter in filters %}
            {% if filter.display_name != 'industry' %}
              <li class="list-group-item">
                <h5 class="ef-filter-name" data-toggle="collapse" data-target="#{{filter.property_name}}">{{filter.display_name | title }}</h5>
                <div id="{{filter.property_name}}" class="collapse in ef-filter-container">
                  <ul>
                    {% for selection in filter.selections %}
                      <li>
                        <!-- input id is used for url arguments. if input id differs from the text of the label. change javascript -->
                        <input type="checkbox" id="{{selection | replace(' ', '-')}}_filter" class="ef-{{filter.property_name}}-filter css-checkbox"/>
                        {% if filter.display_name == 'brand' %}
                          <label for="{{selection | replace(' ', '-')}}_filter" class="css-label ef-filter-label"><span class="ef-buffer-span"></span>{{selection}}</label>
                        {% else %}
                          <label for="{{selection | replace(' ', '-')}}_filter" class="css-label ef-filter-label"><span class="ef-buffer-span"></span>{{selection | title }}</label>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </li>
            {% endif %}
          {% endfor %}

          <!-- Price Slider -->
          <li class="list-group-item">
            <h5 class="ef-filter-name" data-toggle="collapse" data-target="#price-filter">Price</h5>
              <div id="price-filter" class="collapse in ef-filter-container">
                  <div id="slider-range"></div>

                  <div style="padding:4px;"></div>
                  <p id="price-min"></p>
                  <p id="price-max"></p>
                  <div class="spacer" style="clear:both;"></div>
              </div>
              </li>
      </ul>
      </div> <!-- end of panel body for search and list group-->
      </div>

    </div>


    <!-- Right side of page -->
    <div class="col-sm-9 col-xs-12">

      <!-- Top Controls -->
      <div class="row">

        <!-- Paging controls -->
        <!-- Put first because Chrome loading sometimes pushes it to a new line? -->
        <div class="ef-controls pull-right ef-padding">
          Page:
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle ef-current-page" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selected_page | title}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu ef-no-min-width">
              {% for page in num_pages %}
                <li><a class="ef-page-option" href="#">{{page | title}}</a></li>
              {% endfor %}
            </ul>
          </div>
          of {{num_pages | length}}
           <span class="ef-buffer-span"></span>
           <button type="button" class="btn btn-default ef-prev-page">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
           </button>
           <button type="button" class="btn btn-default ef-next-page">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
        </div>

        <!-- Sorts -->
        <div class="ef-controls ef-padding">
          Sort By:
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{selected_shop_sort | title}}  <span class="caret"></span>
            </button>
            <ul class="dropdown-menu ef-no-min-width">
              {% for sort in shop_sorts %}
                <li><a class="ef-sort-option" href="#">{{sort | title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="ef-controls ef-padding">
          Items per Page:
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selected_items_per_page | title}}  <span class="caret"></span>
            </button>
            <ul class="dropdown-menu ef-no-min-width">
              {% for i in items_per_page %}
                <li><a class="ef-items-option" href="#">{{i | title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>

      <!-- Grid of items -->
      <div class="row masonry-container">
        {% for i in results %} 
          <div class="col-xs-6 text-center masonry-item">
              <div id="{{i.name}}" class="thumbnail ef-item"> 
                  <a href="{{i.external_src}}" target="_blank">
                      <img class="ef-shop-image ga-refer-link" 
                      src="{{i.img_1_src}}" 
                      onmouseover="this.src='{{i.img_2_src}}'" 
                      onmouseout="this.src='{{i.img_1_src}}'" />
                  </a>
                  <span class="ef-out-of-stock-container">
                      <img class="ef-out-of-stock-image" 
                      src="/images/outofstock.png" title="Report out of stock"></img>
                  </span>
                  <div class="caption">
                      {{i.name | upper}}
                      <br>
                      {{i.brand}}
                      <br>
                      {{"$%.2f" | format(i.price)}}
                  </div>
              </div>
          </div>
        {% endfor %}
    </div>

      <!-- Bottom Controls -->
      <div class="row">

        <!-- Paging controls -->
        <!-- Put first because Chrome loading sometimes pushes it to a new line? -->
        <div class="ef-controls pull-right ef-padding">
          Page:
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle ef-current-page" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selected_page | title}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu ef-no-min-width">
              {% for page in num_pages %}
                <li><a class="ef-page-option" href="#">{{page | title}}</a></li>
              {% endfor %}
            </ul>
          </div>
          of {{num_pages | length}}
           <span class="ef-buffer-span"></span>
           <button type="button" class="btn btn-default ef-prev-page">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
           </button>
           <button type="button" class="btn btn-default ef-next-page">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
        </div>

        <!-- Sorts -->
        <div class="ef-controls ef-padding">
          Sort By:
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{selected_shop_sort | title}}  <span class="caret"></span>
            </button>
            <ul class="dropdown-menu ef-no-min-width">
              {% for sort in shop_sorts %}
                <li><a class="ef-sort-option" href="#">{{sort | title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="ef-controls ef-padding">
          Items per Page:
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selected_items_per_page | title}}  <span class="caret"></span>
            </button>
            <ul class="dropdown-menu ef-no-min-width">
              {% for i in items_per_page %}
                <li><a class="ef-items-option" href="#">{{i | title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}

