{% extends "templates/base.html" %}

{% block title %}Shop Page{% endblock %}

{% block head %}
  <script src="/js/shop.js"></script>
  <script type="text/javascript">
      initGlobals({{filters}}, '{{default_shop_sort}}', '{{default_items_per_page}}', '{{default_page}}', {{num_pages}});
  </script>

  <link rel="stylesheet" type="text/css" href="/css/shop.css">
  <script type="text/javascript" src="/masonry/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="/masonry/masonry.pkgd.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h3 class="ef-page-title">Shop</h3>
  <hr>
</div>

<div class="container">
  <div class="row">
    <!-- Filters -->
    <div class="col-xs-3">

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h4 class="panel-title">Filters</h4>
        </div>
        <div class="panel-body">
          <h5 class="ef-section-name">Search</h5>
          <form class="" role="search">
            <div class="row">
              <div class="col-xs-8 ef-search-form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </div>
              <div class="col-xs-4">
                <button type="submit" class="btn btn-default">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </div>
            </div>
            
            
          </form>
        </div>

        <!-- List group -->
        <ul class="list-group">
          {% for filter in filters %}
            <li class="list-group-item">
              <h5 class="ef-filter-name" data-toggle="collapse" data-target="#{{filter.property_name}}">{{filter.display_name | title }}</h5>
              <div id="{{filter.property_name}}" class="collapse in ef-filter-container">
                <ul>
                  {% for selection in filter.selections %}
                    <li>
                      <!-- input id is used for url arguments. if input id differs from the text of the label. change javascript -->
                      <input type="checkbox" id="{{selection | replace(' ', '-')}}_filter" class="ef-{{filter.property_name}}-filter css-checkbox"/>
                      {% if filter.display_name == 'brand' %}
                        <label for="{{selection | replace(' ', '-')}}_filter" class="css-label ef-filter-label"><span class="ef-buffer-span"></span>{{selection}}</label>
                      {% else %}
                        <label for="{{selection | replace(' ', '-')}}_filter" class="css-label ef-filter-label"><span class="ef-buffer-span"></span>{{selection | title }}</label>
                      {% endif %}
                    </li>
                  {% endfor %}
              </div>
            </li>
          {% endfor %}

        </ul>
      </div>

    </div>

    <!-- Right side of page -->
    <div class="col-xs-9">

      <!-- Top Controls -->
      <div class="row">

        <!-- Paging controls -->
        <!-- Put first because Chrome loading sometimes pushes it to a new line? -->
        <div class="ef-controls pull-right ef-padding">
          Page:
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle ef-current-page" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selected_page | title}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu ef-no-min-width">
              {% for page in num_pages %}
                <li><a class="ef-page-option" href="#">{{page | title}}</a></li>
              {% endfor %}
            </ul>
          </div>
          of {{num_pages | length}}
           <span class="ef-buffer-span"></span>
           <button type="button" class="btn btn-default ef-prev-page">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
           </button>
           <button type="button" class="btn btn-default ef-next-page">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
        </div>

        <!-- Sorts -->
        <div class="ef-controls ef-padding">
          Sort By:
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{selected_shop_sort | title}}  <span class="caret"></span>
            </button>
            <ul class="dropdown-menu ef-no-min-width">
              {% for sort in shop_sorts %}
                <li><a class="ef-sort-option" href="#">{{sort | title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="ef-controls ef-padding">
          Items per Page:
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selected_items_per_page | title}}  <span class="caret"></span>
            </button>
            <ul class="dropdown-menu ef-no-min-width">
              {% for i in items_per_page %}
                <li><a class="ef-items-option" href="#">{{i | title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>

      <!-- Grid of items -->
      <div class="row masonry-container">
        {% for i in results %} 
          <div class="col-xs-6 text-center masonry-item">
              <div id="{{i.name}}" class="thumbnail ef-item"> 
                  <a href="{{i.external_src}}" target="_blank">
                      <img class="ef-shop-image" src="{{i.img_src}}"></img>
                  </a>
                  <span class="ef-out-of-stock-container">
                      <img class="ef-out-of-stock-image" 
                      src="/images/outofstock.png" title="Report out of stock"></img>
                  </span>
                  <div class="caption">
                    {{i.name | upper}}
                  </div>
              </div>
          </div>
        {% endfor %}
    </div>

      <!-- Bottom Controls -->
      <div class="row">

        <!-- Paging controls -->
        <!-- Put first because Chrome loading sometimes pushes it to a new line? -->
        <div class="ef-controls pull-right ef-padding">
          Page:
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle ef-current-page" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selected_page | title}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu ef-no-min-width">
              {% for page in num_pages %}
                <li><a class="ef-page-option" href="#">{{page | title}}</a></li>
              {% endfor %}
            </ul>
          </div>
          of {{num_pages | length}}
           <span class="ef-buffer-span"></span>
           <button type="button" class="btn btn-default ef-prev-page">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
           </button>
           <button type="button" class="btn btn-default ef-next-page">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
        </div>

        <!-- Sorts -->
        <div class="ef-controls ef-padding">
          Sort By:
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{selected_shop_sort | title}}  <span class="caret"></span>
            </button>
            <ul class="dropdown-menu ef-no-min-width">
              {% for sort in shop_sorts %}
                <li><a class="ef-sort-option" href="#">{{sort | title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="ef-controls ef-padding">
          Items per Page:
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selected_items_per_page | title}}  <span class="caret"></span>
            </button>
            <ul class="dropdown-menu ef-no-min-width">
              {% for i in items_per_page %}
                <li><a class="ef-items-option" href="#">{{i | title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}

