{% extends "templates/base.html" %}

{% block title %}Shop Skirt The Ceiling Looks{% endblock %}

{% block head %}
    <!-- 
    <script src="/js/style_guides.js"></script>
    -->
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
{% endblock %}

{% block content %}

<h3 class="ef-page-title">Shop STC Looks</h3>
<div class="ef-text-center">
    <a target="_blank" href="http://www.voteskirttheceiling.tumblr.com">voteskirttheceiling.tumblr.com</a>
</div>

    <hr>




    <script src="http://voteskirttheceiling.tumblr.com/js"></script>

{% endblock %}
