{% extends "templates/base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container">
  <h3 class="ef-page-title">Sign Up</h3>
  <hr>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-3"></div>

    <div class="col-xs-6 ef-form">
      <form>
        <!-- Name -->
        <div class="input-group"> 
          <span class="input-group-addon" id="name">Name</span> 
          <input type="text" class="form-control" placeholder="Jane Doe" aria-describedby="name" required>
        </div> 
        <br>

        <!-- Email -->
        <div class="input-group"> 
          <span class="input-group-addon" id="email">Email</span> 
          <input type="email" class="form-control" placeholder="email@example.com" aria-describedby="email" required>
        </div> 
        <br>

        <!-- Email Again -->
        <div class="input-group"> 
          <span class="input-group-addon" id="email-again">Email Again</span> 
          <input type="email" class="form-control" aria-describedby="email-again" required>
        </div> 
        <br>

        <!-- Password -->
        <div class="input-group"> 
          <span class="input-group-addon" id="password">Password</span> 
          <input type="password" class="form-control" aria-describedby="password" required>
        </div> 
        <br>

        <!-- Password Again -->
        <div class="input-group"> 
          <span class="input-group-addon" id="password-again">Password Again</span> 
          <input type="password" class="form-control" aria-describedby="password-again" required>
        </div> 
        <br>

        <!-- Subscription checkbox -->
        <div>
          <input type="checkbox" value="subscribe"> Send me Eight2Five newsletters.
        </div>
        <br>

        <button type="submit" class="btn btn-primary btn-lg btn-block">Create Eight2Five Account</button>
      </form>
    </div>

    <div class="col-xs-3"></div>
  </div>
</div>
{% endblock %}

{% block end_body %}
  <!-- <script src="/javascript/style_guides.js"></script> -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/sign_up.css">
{% endblock %}
