{% extends "templates/base.html" %}

{% block title %}Style Guides{% endblock %}

{% block head %}
  {{ super() }}
  <script src="/javascript/style_guides.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style_guides.css">
{% endblock %}

{% block content %}
    <h1>Style Guides Page.</h1>

    <div id="filter-by-container">
      Filter by
      <select name="industry-select" id="industry-select">
        {% for industry in industries %}
          <option value={{industry['value']}}>{{industry['display']}}</option>
        {% endfor %}
      </select>

      <button onclick="selectIndustry()">Select Industry</button>

    </div>

    <div id="style-guides-choices">
      <span class="style-image">
        <a href="/styleguides/smartcasual"><img border="1" title="Smart Casual" alt="Smart Casual" src="/images/smartcasual.png" width="30%"></a>
      </span>

      <span class="style-image">
        <a href="/styleguides/businesscasual"><img border="1" title="Business Casual" alt="Business Casual" src="/images/businesscasual.png" width="30%"></a>
      </span>

      <span class="style-image">
        <a href="/styleguides/businessformal"><img border="1" title="Business Formal" alt="Business Formal" src="/images/businessformal.png" width="30%"></a>
      </span>
    </div>

    <h2>End Style Guides Page.</h2>
{% endblock %}
