{% extends "templates/base.html" %}

{% block title %}Style GuidesPage{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <h1>Style Guides Page.</h1>

    <div id="filter-by-container">
      Filter by
      <select name="filter-by-select">
        <option value="industry1">Industry 1</option>
        <option value="industry2">Industry 2</option>
        <option value="industry3">Industry 3</option>
        <option value="industry4">Industry 4</option>
      </select>
    </div>

    <div id="style-guides-choices">
      <a href="/styleguides/smartcasual" class="button">Smart Casual</a>
      <a href="/styleguides/businesscasual" class="button">Business Casual</a>
      <a href="/styleguides/businessformal" class="button">Business Formal</a>
    </div>

    <h2>End Style Guides Page.</h2>
{% endblock %}
