{% extends "templates/base.html" %}

{% block title %}Style{% endblock %}

{% block content %}
<!--
  <div id="path-links">
      <a href="/styleguides" class="button">Style Guides</a> &gt; {{style}}
  </div>

  <div id="industry-select-container">
    Select Industry 
    <select name="industry-select" id="industry-select">
      {% for i in industry_names %}
        <option value={{i['id']}}>{{i['display']}}</option>
      {% endfor %}
    </select>

    <button onclick="selectIndustry()">Go</button>
</div>
-->

  <div class="container">
    <h3 class="ef-page-title">{{style | title }}</h3>
    <hr>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-xs-6">
            <p class="text-center"><b>The Look</b></p>
        </div>
        <div class="col-xs-6">
            <p class="text-center"><b>The Occasion</b></p>
        </div>
    </div>

    {% for style in style_data %}
        <div class="ef-row-container">
            <div class="row ef-vertical-center">
                <div class="col-xs-3">
                    <img class="look-image" src="{{style.look_img_src}}">
                </div>
                <div class="col-xs-3">
                    <ul>
                        {% for description in style.look_descriptions %}
                            <li>{{description}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-xs-3">
                    <img class="occasion-image" src="{{style.occasion_img_src}}">
                </div>
                <div class="col-xs-3">
                    <ul>
                        {% for description in style.occasion_descriptions %}
                            <li>{{description}}</li>
                        {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row ef-row-container text-center">
        <button type="button" id="{{style}}" class="btn btn-default ef-shop-button">Shop the Look</button>
    </div>

  </div>

<!--
  <table align="center" id="look-occasion-table">
    <tr>
        <th>The Look</th>
        <th>The Occasion</th>
    </tr>

    {% for style in style_data %}
        <tr>
            <td class="look-cell">
                <div class="look-inner-container">
                    <div class="look-image-container">
                        <img class="look-image" src="{{style.look_img_src}}">
                    </div>

                    <div class="look-description">
                        <ul>
                            {% for description in style.look_descriptions %}
                                <li>{{description}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </td>

            <td class="occasion-cell">
                <div class="occasion-inner-container">
                    <div class="occasion-image-container">
                        <img class="occasion-image" src="{{style.occasion_img_src}}">
                    </div>

                    <div class="occasion-description">
                        <ul>
                            {% for description in style.occasion_descriptions %}
                                <li>{{description}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
  </table>
-->

{% endblock %}

{% block end_body %}
  <script src="/javascript/style.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
{% endblock %}
