{% extends "templates/base.html" %}

{% block title %}Style{% endblock %}

{% block head %}
  <script src="/js/style.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/person.css">
{% endblock %}

{% block content %}
<!--
  <div id="path-links">
      <a href="/styleguides" class="button">Style Guides</a> &gt; {{style}}
  </div>

  <div id="industry-select-container">
    Select Industry 
    <select name="industry-select" id="industry-select">
      {% for i in industry_names %}
        <option value={{i['id']}}>{{i['display']}}</option>
      {% endfor %}
    </select>

    <button onclick="selectIndustry()">Go</button>
</div>
-->

  <div class="container">
    <h3 class="ef-page-title">{{dress_code | title }}</h3>
    <hr>
  </div>

  <!--
  <div class="container">
    <div class="row">
        <div class="col-xs-6">
            <p class="text-center"><b>The Look</b></p>
        </div>
        <div class="col-xs-6">
            <p class="text-center"><b>The Occasion</b></p>
        </div>
    </div>

    {% for style in style_data %}
        <div class="ef-row-container">
            <div class="row ef-vertical-center">
                <div class="col-xs-3">
                    <img class="look-image" src="{{style.look_img_src}}">
                </div>
                <div class="col-xs-3">
                    <ul>
                        {% for description in style.look_descriptions %}
                            <li>{{description}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-xs-3">
                    <img class="occasion-image" src="{{style.occasion_img_src}}">
                </div>
                <div class="col-xs-3">
                    <ul>
                        {% for description in style.occasion_descriptions %}
                            <li>{{description}}</li>
                        {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    -->

    

    <div class="container">
        <!-- Three rows of information -->
        <div class="row ef-vertical-center">
            <div class="col-xs-6">
                <img class="ef-image ef-style-image" src="{{dress_code_data.look_1_img}}">
            </div>

            <div class="col-xs-6">
                <h4 class="media-heading ef-header">Style: </h4>&nbsp; {{dress_code_data.look_1_name}}
                <br>
                <h4 class="media-heading ef-header">Brand: </h4>&nbsp; {{dress_code_data.look_1_brand}}
                <br>
                <h4 class="media-heading ef-header">Tip: </h4>&nbsp; {{dress_code_data.look_1_tip}}
            </div>
        </div>

        <div class="row ef-vertical-center">
            <div class="col-xs-6">
                <img class="ef-image ef-style-image" src="{{dress_code_data.look_2_img}}">
            </div>

            <div class="col-xs-6">
                <h4 class="media-heading ef-header">Style: </h4>&nbsp; 
                {{dress_code_data.look_2_name}}
                <br>
                <h4 class="media-heading ef-header">Brand: </h4>&nbsp; 
                {{dress_code_data.look_2_brand}}
                <br>
                <h4 class="media-heading ef-header">Tip: </h4>&nbsp; 
                {{dress_code_data.look_2_tip}}
            </div>
        </div>

        <div class="row ef-vertical-center">
            <div class="col-xs-6">
                <img class="ef-image ef-style-image" src="{{dress_code_data.look_3_img}}">
            </div>

            <div class="col-xs-6">
                <h4 class="media-heading ef-header">Style: </h4>&nbsp; 
                {{dress_code_data.look_3_name}}
                <br>
                <h4 class="media-heading ef-header">Brand: </h4>&nbsp; 
                {{dress_code_data.look_3_brand}}
                <br>
                <h4 class="media-heading ef-header">Tip: </h4>&nbsp; 
                {{dress_code_data.look_3_tip}}
            </div>
        </div>

        <hr>

        <!-- Row of 3 occassions -->
        <h3 class="ef-page-title">Occasions</h3>
        <div class="row">
            <div class="col-xs-4">
                <div class="thumbnail">
                    <img class="ef-image" src="{{dress_code_data.occasion_1_img}}">
                    <div class="caption ef-text-center">
                        {{dress_code_data.occasion_1_text}}
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="thumbnail">
                    <img class="ef-image" src="{{dress_code_data.occasion_2_img}}">
                    <div class="caption ef-text-center">
                        {{dress_code_data.occasion_2_text}}
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="thumbnail">
                    <img class="ef-image" src="{{dress_code_data.occasion_3_img}}">
                    <div class="caption ef-text-center">
                        {{dress_code_data.occasion_3_text}}
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <!-- Tip -->
        <!--
        <div class="well">
            <h4 class="media-heading ef-header">Tip: </h4>&nbsp; 
            {{dress_code_data.tip}}
        </div>
        -->
    </div>

    <div class="row ef-row-container text-center">
        <button type="button" id="{{dress_code}}" class="btn btn-default 
            ef-shop-button ga-style-look">Shop the Style: {{dress_code | title}}</button>
    </div>

  </div>

<!--
  <table align="center" id="look-occasion-table">
    <tr>
        <th>The Look</th>
        <th>The Occasion</th>
    </tr>

    {% for style in style_data %}
        <tr>
            <td class="look-cell">
                <div class="look-inner-container">
                    <div class="look-image-container">
                        <img class="look-image" src="{{style.look_img_src}}">
                    </div>

                    <div class="look-description">
                        <ul>
                            {% for description in style.look_descriptions %}
                                <li>{{description}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </td>

            <td class="occasion-cell">
                <div class="occasion-inner-container">
                    <div class="occasion-image-container">
                        <img class="occasion-image" src="{{style.occasion_img_src}}">
                    </div>

                    <div class="occasion-description">
                        <ul>
                            {% for description in style.occasion_descriptions %}
                                <li>{{description}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
  </table>
-->

{% endblock %}

