{% extends "templates/base.html" %}

{% block title %}Style GuidesPage{% endblock %}

{% block head %}
  {{ super() }}
  <script src="/javascript/styleguides.js"></script>
{% endblock %}

{% block content %}
    <h1>Style Guides Page.</h1>

    <div id="filter-by-container">
      Filter by
      <select name="industry-select" id="industry-select">
        {% for industry in industries %}
          <option value={{industry}}>{{industries[industry]}}</option>
        {% endfor %}
        <option value="hello">hello</option>
      </select>

      <button onclick="selectIndustry()">Select Industry</button>

    </div>

    <div id="style-guides-choices">
      <a href="/styleguides/smartcasual" class="button">Smart Casual</a>
      <a href="/styleguides/businesscasual" class="button">Business Casual</a>
      <a href="/styleguides/businessformal" class="button">Business Formal</a>
    </div>

    <h2>End Style Guides Page.</h2>
{% endblock %}
