<!DOCTYPE html>
<html>
  <head>
    <title>Style Guides Page</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
  </head>
  <body>

    <div id="nav-container">
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="whoworewhat">Who Wore What</a></li>
        <li><a href="styleguides">Style Guides</a></li>
        <li><a href="shop">Shop</a></li>
      </ul>
    </div>

    <h1>Style Guides Page.</h1>

    <div id="filter-by-container">
      Filter by
      <select name="filter-by-select">
        <option value="industry1">Industry 1</option>
        <option value="industry2">Industry 2</option>
        <option value="industry3">Industry 3</option>
        <option value="industry4">Industry 4</option>
      </select>
    </div>

<!--     <div id="style-guides-choices">
      <a href="whoreworewhat/smartcasual" class="button">Smart Casual</a>
    </div>
 -->    <h2>End Style Guides Page.</h2>
  </body>
</html>
