{% extends "templates/base.html" %}

{% block title %}Who Wore What Page{% endblock %}

{% block content %}
<div class="container">
  <h3 class="ef-page-title">Who Wore What</h3>
  <hr>
</div>

<!-- Kept as 'photos' rather than 'images' for inheritance's sake. -->

<div id="ef-b-container">
  <div id="ef-coverflow-photos-container"> 
    <div class="photos"> 
      {% for i in coverflow_data %}
        <img class="cover" data-name="{{i.name}}" src='{{i.img_src}}'/>
      {% endfor %}
    </div>
  </div>

  <div id="ef-controls-outer-container">
    <div id="ef-controls-inner-container">
      <img id="ef-left-arrow" src="/images/grayleftarrow.png">
      <span id="ef-dots-container">
        {% for i in coverflow_data %}
          <img class="ef-dot" id="ef-current-dot" src='/images/emptycircle.png'/>
        {% endfor %}
      </span>
      <img id="ef-right-arrow" src="/images/grayrightarrow.png">
    </div>
  </div>

  <div id="ef-photos-info">
    <div id="photos-name"></div>
  </div>
</div>

{% endblock %}

{% block end_body %}
<!-- Needed for coverflow stuff. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.js"></script>

<!-- Optional: Reflection -->
<script type="text/javascript" src="/coverflow/reflection.js"></script>

<!-- interpolate, depends on jQ 1.8.0+ -->
<script src="/coverflow/jquery.interpolate.js"></script>
<script src="/coverflow/jquery.coverflow.js"></script>

<!-- End coverflow stuff. -->

<script src="/js/who_wore_what.js"></script>
<link rel="stylesheet" type="text/css" href="/css/who_wore_what.css">
{% endblock %}
