{% extends "templates/base.html" %}

{% block title %}Who Wore What Page{% endblock %}

{% block head %}
    {{ super() }}

    <!-- Needed for coverflow stuff. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.js"></script>

	<!-- Optional: Reflection -->
	<script type="text/javascript" src="/coverflow/reflection.js"></script>

	<!-- interpolate, depends on jQ 1.8.0+ -->
	<script src="/coverflow/jquery.interpolate.js"></script>
    <script src="/coverflow/jquery.coverflow.js"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/coverflow.css">
    <!-- End coverflow stuff. -->

    <script src="/javascript/who_wore_what.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/who_wore_what.css">
{% endblock %}

{% block content %}
    <h1>Who Wore What Page.</h1>
        <!-- Kept as 'photos' rather than 'images' for inheritance's sake. -->
        <div id="coverflow-photos-container">
            <div class="photos">
                {% for i in coverflow_data %}
                    <img class="cover" id={{i['id']}} data-name={{i['caption']}} src='{{i['image_src']}}'/>
                {% endfor %}
            </div>
            <img id="left-arrow" src="/images/grayleftarrow.png">
            <img id="right-arrow" src="/images/grayrightarrow.png">
        </div>

        <span id="dots-container">
            {% for i in coverflow_data %}
                <img class="dot" id="current-dot" src='/images/emptycircle.png'/>
            {% endfor %}
        </span>

        <div id="photos-info">
            <div id="photos-name"></div>
        </div>

    <h2>End Who Wore What Page.</h2>
{% endblock %}
