<!DOCTYPE html>
{% from "templates/macros.html" import main_menu %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta charset="UTF-8">
	<title>Eight2Five</title>
	<link rel="stylesheet" href="/css/leka/bootstrap.min.css">
	<link rel="stylesheet" href="/css/leka/font-awesome.min.css">
	<link rel="stylesheet" href="/css/leka/owl.carousel.css">
    <link rel="stylesheet" href="/css/leka/chosen.css">
    <link rel="stylesheet" href="/css/leka/superslides.css">
    <link rel="stylesheet" href="/css/leka/magnific-popup.css">
    <link rel="stylesheet" href="/css/leka/jquery.mCustomScrollbar.css">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/leka/style.css">
</head>
<body class="home">
    <!-- Header -->
	<header class="header header-style3 hidden-menu">
        <div class="main-header">
            <div class="container main-header-inner">
                <div id="form-search" class="form-search">
                    <form>
                        <input type="text" placeholder="YOU CAN SEARCH HERE..." />
                        <button class="btn-search"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="row">
                    <div  class="col-sm-12 col-md-12 col-lg-3">
                        <div class="logo">
                            <a href="/home"><img src="/images/logo_32x32.svg" alt="" /></a>
                            <!-- <a href="/home"><img src="/images/leka/logo2.png" alt="" /></a> -->
                            <a href="#" class="mobile-navigation"><i class="fa fa-bars"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-7 main-menu-wapper">
                        <a href="#" class="mobile-navigation"><i class="fa fa-bars"></i></a>
                        {{ main_menu() }}
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <!-- Icon search -->
                        <div class="icon-search">
                            <span class="icon"><i class="fa fa-search"></i></span>
                        </div>
                        <!-- ./Icon search -->
                        <!-- Mini cart -->
                        <!--
                        <div class="mini-cart">
                            <a class="icon" href="#">Cart <span class="count">2</span></a>
                            <div class="mini-cart-content">
                                <ul class="list-cart-product">
                                    <li>
                                        
                                        <div class="product-thumb">
                                            <a href="#"><img src="/images/leka/products/product-cart1.jpg" alt="" /></a>
                                        </div>
                                        <div class="product-info">
                                            <h5 class="product-name"><a href="#">Ledtead Predae</a></h5>
                                            <span class="price">$90.00</span>
                                            <span class="qty">Qty: 1 - Size: L</span>
                                            <a href="#" class="remove">remove</a>
                                        </div>
                                    </li>
                                    <li>
                                        
                                        <div class="product-thumb">
                                            <a href="#"><img src="/images/leka/products/product-cart2.jpg" alt="" /></a>
                                        </div>
                                        <div class="product-info">
                                            <h5 class="product-name"><a href="#">Ledtead Predae</a></h5>
                                            <span class="price">$90.00</span>
                                            <span class="qty">Qty: 1 - Size: M</span>
                                            <a href="#" class="remove">remove</a>
                                        </div>
                                    </li>
                                </ul>
                                <p class="sub-toal-wapper">
                                    <span>SUBTOTAL</span>
                                    <span class="sub-toal">$180.00</span>
                                </p>
                                <a href="#" class="btn-view-cart">VIEW SHOPPING CART</a>
                                <a href="#" class="btn-check-out">PROCESS TO CHECK OUT</a>
                            </div>
                        </div>
                        -->
                        <!-- ./Mini cart -->
                    </div>
                </div>
            </div>
        </div>
	</header>
    <!-- ./Header -->
    <!-- Slide -->
    <div class="section-slide">
        <div class="slide-home slide-fullscreen owl-carousel" data-margin="0" data-items="1" data-nav="true" data-autoplay="true" data-loop="true">
            <div class="item-slide" data-background="/images/1920x1075_placeholder.png">
                <div class="overlay"></div>
                <div class="full-height">
                    <div class="content-slide">
                        <h2 class="caption-title-2">Who Wore What</h2>
                        <div class="ground-button">
                            <a href="#" class="leka-button">See More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-slide" data-background="/images/1920x1075_placeholder.png">
                <div class="overlay"></div>
                <div class="full-height">
                    <div class="content-slide">
                        <h2 class="caption-title-2">Style Guides</h2>
                        <div class="ground-button">
                            <a href="#" class="leka-button">See More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="item-slide" data-background="/images/leka/slide/slide-f1.jpg">
                <div class="overlay"></div>
                <div class="full-height">
                    <div class="content-slide">
                        <img src="/images/leka/slide/logo-slide.png" alt="">
                        <p class="crimtext caption-medium">The Fall Report</p>
                        <h2 class="caption-title-1">BOHO</h2>
                        <p class="caption-small-1">maxi coats, fioral, mix &amp; match, boemina</p>
                        <div class="ground-button">
                            <a href="#" class="leka-button">SHOP NOW</a>
                            <a href="#" class="leka-button button-style2">BUY THEME</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-slide" data-background="/images/leka/slide/slide-f2.jpg">
                <div class="overlay"></div>
                <div class="full-height">
                    <div class="content-slide">
                        <p class="crimtext caption-small">The Fall Report</p>
                        <h2 class="caption-title-2">the  fall  2016</h2>
                        <div class="ground-button">
                            <a href="#" class="leka-button">SHOP NOW</a>
                            <a href="#" class="leka-button button-style2">BUY THEME</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-slide" data-background="/images/leka/slide/slide-f3.jpg">
                <div class="overlay"></div>
                <div class="full-height">
                    <div class="content-slide">
                        <p class="crimtext caption-small">West End, Austraila</p>
                        <h2 class="caption-title-2">LEKA BOUTIQUE</h2>
                        <div class="ground-button">
                            <a href="#" class="leka-button">SHOP NOW</a>
                            <a href="#" class="leka-button button-style2">BUY THEME</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-slide" data-background="/images/leka/slide/slide-f4.jpg">
                <div class="overlay"></div>
                <div class="full-height">
                    <div class="content-slide">
                        <p class="crimtext caption-medium">Velvet kaftan. Devoré.</p>
                        <h2 class="caption-title-4">KAFTAN</h2>
                        <p class="caption-small-1">FREESHIP ALL ODER OVER $150</p>
                        <div class="ground-button">
                            <a href="#" class="leka-button">SHOP NOW</a>
                            <a href="#" class="leka-button button-style2">BUY THEME</a>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
    <!-- ./Slide -->
    <!-- Footer -->
   	<footer class="footer footer-style2">
    	<div class="container">
    		<div class="row">
                <div class="col-sm-12 col-md-7">
                    <div class="footer-menu">
                        <a href="#"><i class="fa fa-phone"></i> +84 868.8568</a> 
                        <a href="#"><i class="fa fa-clock-o"></i> MON - SAT: 08 am - 17 pm</a>
                        <a href="#"><i class="fa fa-envelope-o"></i> Support@wpelite.com</a> 
                    </div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="widget widget-social">
    					<div class="list-social">
    						<a href="#"><i class="fa fa-facebook"></i></a>
    						<a href="#"><i class="fa fa-twitter"></i></a>
    						<a href="#"><i class="fa fa-google-plus"></i></a>
    						<a href="#"><i class="fa fa-skype"></i></a>
    						<a href="#"><i class="fa fa-pinterest-p"></i></a>
    					</div>
    				</div>
                </div>
    		</div>
    		<div class="footer-bottom">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="widget widget-newaletter">
                        <form>
                            <input type="text" class="newaletter-email" placeholder="EMAIL FOR NEWSLETTER">
                            <span><button type="submit" class="newaletter-button"><i class="fa fa-envelope-o"></i></button></span>
                        </form>
        				</div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="coppyright">
        				<p>© 2015 LEKA E-COMMERCE TEMPLATE. Powered By WPELITE</p>
        			</div>
                    </div>
                </div>
    		</div>
    	</div>
    </footer>
    <!-- .Footer -->
	<script type="text/javascript" src="/js/leka/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/js/leka/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/leka/jquery.fitvids.js"></script>
	<script type="text/javascript" src="/js/leka/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/js/leka/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="/js/leka/chosen.jquery.min.js"></script>
	<script type="text/javascript" src="/js/leka/isotope.pkgd.js"></script>
	<script type="text/javascript" src="/js/leka/packery-mode.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/leka/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/leka/jquery.superslides.min.js"></script>
    <script type="text/javascript" src="/js/leka/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/js/leka/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/js/leka/Modernizr.js"></script>
    <script type="text/javascript" src="/js/leka/jquery.actual.min.js"></script>
    <script type="text/javascript" src="/js/leka/blog-masonry.js"></script>
	<script type="text/javascript" src="/js/leka/custom.js"></script>

    <!-- Own Javascript -->
    <script type="text/javascript" src="/js/macros.js"></script>
</body>
</html>